{% extends 'pinchart/base.html' %}
{% block headline %}Pinchart Data Word Configuration{% endblock headline %}
{% load crispy_forms_tags %}
{% block content %}
    <table class="table table-striped">
        <tr>
            <th><h3>Pinchart</h3></th>
            <td><h3>{{ pinchart.name }}</h3></td>
        </tr>
    </table>
	{% if not object_list %}
		<p><i>no words yet.</i></p>
	{% else %}
        
		<table class="table table-striped">
			<tr>
                <th>Name</th>
                <th>Type</th>
                <th>Address Template</th>
                <th>Bit<br />Descriptions</th>
                <th>Actions</th>
            </tr>

            {% for i in object_list %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.type }}</td>
                    <td>{{ i.address_template }}</td>
                    {% if i.type == "32-BIT" or i.type == "16-BIT" %}
                        <td>
                            <a href="{% url 'bitdescription-list' pk=i.pk %}" class="btn btn-primary btn-sm" role="button" aria-pressed="False">View/Edit</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
						<a href="{% url 'word-update' pk=i.pk %}" class="btn btn-primary btn-sm" role="button" aria-pressed="False">Edit</a>
						<a href="{% url 'word-delete' pk=i.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="False">Delete</a>
					</td>
                </tr>
            {% endfor %}
		</table>
	{% endif %}
    <a href="{% url 'word-create' pk=parent_object.pk %}">Add Word</a>
{% endblock %}